.flex-container h1 {
    text-align: center;
}

.flex-container{
    display: flex;
}
button {
    width: 93%;
    margin-left: 15px;
    margin-right: 15px;
    margin-top: 15px;
    height: 20px;
    padding: 5px;
    background-color: blue;
    border-radius: 5px;
    height: 30px;
    color: white;
}

.flex-container div {
    width: 33.3%;    
}

input {
    width: 90%;
    margin-left: 15px;
    margin-right: 15px;
    margin-top: 15px;
    height: 20px;
    padding: 5px;
}