* {
    box-sizing: border-box;
  }

.middle-container {
    display: flex;
}
.middle-container2 {
    width: 33.3%;
}

.middle-container form img {
    height: 45px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
}
.middle-container2, .middle-container1, .middle-container3 {
    width: 33.3%;
}

/* input css */
input {
  width: 100%;
  padding: 12px;
  border: none;
  border-radius: 4px;
  margin: 5px 0;
  opacity: 0.85;
  display: inline-block;
  font-size: 15px;
  line-height: 20px;
  text-decoration: none; /* remove underline from anchors */
}

input:hover {
  opacity: 1;
}

/* style the submit button */
input[type=submit] {
    background-color: #047baa;
    color: white;
    cursor: pointer;
  }
  
  input[type=submit]:hover {
    background-color: #559fbd;
  }

  .row {
    display: flex;
  }
  .row div {
    width: 33.3%;
    margin-top: 5px;
  }

  .middle-container2 .login h4  {
    text-align: center;  
    font-size: 18px;  
    color: rgb(10, 10, 184);
    font-family: Georgia, 'Times New Roman', Times, serif;
  }

  .login p {
    text-align: center;
    color: rgb(10, 10, 184);
    font-size: 18px;
    font-family: Georgia, 'Times New Roman', Times, serif;
  }
 .sign-up {
    text-align: center;
 }
 .sign-up p {
    font-size: 16px;
    font-family: Georgia, 'Times New Roman', Times, serif;
 }
 .get-app p {
    font-size: 16px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;    
 }
 .get-the-app {
    display: flex;
 }
 .get-the-app div {
    width: 50%;
    padding: 5px;
    margin: 5px;
 }